@import url(http://fonts.googleapis.com/css?family=Roboto);

$box-color: #336699;
$box-hover-color: #009966;

$box-context-color: #993333;
$box-context-item-hover-color: rgba(255, 255, 255, 0.25);
$box-context-item-seperator-color: $box-context-item-hover-color;

/* General */
body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #333;
	color: #fff;
}

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

/* Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.rotate {
	animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fade-out {
	animation-name: fade-out;
	animation-duration: 15s;
}

/* Helpers */
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Container */
.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
	padding: 5px;

	.tile {
		padding: 5px;
		width: 10em;
		height: 10em;

		.box {
			display: flex;
			width: 100%;
			height: 100%;
			color: #fff;
			padding: 10px;
			transition: background-color 500ms;

			@extend .unselectable;
		}

		.input {
			align-items: center;
			align-content: center;
			justify-content: center;
			text-decoration: none;
			cursor: text;
			background-color: #996633;
		}

		.input input {
			outline: none;
			border: none;
			background: transparent;
			text-align: center;
			font-family: "Roboto";
			color: #fff;
			width: 100%;
			height: 100%;
		}

		.delete {
			text-decoration: none;
			background-color: #993333;
			flex-direction: column;
			justify-content: center;
			cursor: pointer;
			text-align: center;
		}

		.delete:hover {
			background-color: #aa4444;
		}

		.context {
			background-color: $box-context-color;
			text-decoration: none;
			flex-direction: column;
			justify-content: center;

			li {
				display: flex;
				justify-content: center;
				align-content: center;
				align-items: center;
				padding: 5px;
				border-top: dotted 1px $box-context-item-seperator-color;
				height: 100%;
				cursor: pointer;
			}

			li:first-child {
				border: none;
			}

			li:hover {
				background-color: $box-context-item-hover-color;
			}
		}


		.normal,
		.waiting {
			align-items: center;
			align-content: center;
			justify-content: center;
			text-decoration: none;
			cursor: pointer;
			text-align: center;
			background-color: $box-color;
		}

		.normal:hover {
			background-color: $box-hover-color;
		}

		.group-action {
			align-items: center;
			align-content: center;
			justify-content: center;
			text-decoration: none;
			flex-direction: column;
			font-size: 2em;
			cursor: pointer;
			background-color: #669933;
		}

		.group-action:hover {
			background-color: #663399;
		}

		.element-action.normal {
			align-items: center;
			align-content: center;
			justify-content: center;
			text-decoration: none;
			font-size: 3em;
			cursor: pointer;
			background-color: transparent;
		}

		.element-action.normal:hover {
			background-color: #222;
		}

		.element-action.context {
			background-color: #993333;
		}
	}
}

/* Notifications */
.notifier {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.notifier .notification {
	background-color: #333;
	padding: 15px;
	margin: 5px 5px 0px 0px;
	font-size: 14px;
	text-align: right;
	background-color: rgba(255, 0, 0, 0.1);
}
