@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("/static/font-awesome/css/font-awesome.css");

/* General */
body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #333;
	color: #fff;
}

* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.rotate {
	animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fade-out {
	animation: fade-out 15s ease-in;
}

/* Helpers */
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.centered-content {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
}

/* Container */
.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
	padding: 5px;

	.tile {
		padding: 5px;
		width: 20%;

		.box {
			@extend .unselectable;

			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			color: #fff;
			padding: 10px;
			transition: all 333ms ease-out;
			font-size: 18px;
		}

		.plus {
			@extend .centered-content;

			text-decoration: none;
			font-size: 3em;
			cursor: pointer;
			color: #fff;
			background-color: transparent;

			&:hover {
				background-color: rgba(0, 0, 0, 0.33);
			}
		}

		.back {
			@extend .centered-content;

			font-size: 2em;
			cursor: pointer;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.33);

			&:hover {
				background-color: rgba(255, 255, 255, 0.33);
			}
		}

		.context {
			@extend .centered-content;

			flex-direction: column;
			border: solid 1px rgba(255, 255, 255, 0.2);
			background-color: #993333;

			li {
				@extend .centered-content;

				height: 100%;
				width: 100%;
				padding: 5px;
				border-top: solid 1px rgba(255, 255, 255, 0.2);
				cursor: pointer;

				&:first-child {
					border: none;
				}

				&:hover {
					background-color: rgba(255, 255, 255, 0.1);
				}
			}
		}

		.input {
			@extend .centered-content;

			cursor: text;
			background-color: #996633;
			border: solid 1px rgba(255, 255, 255, 0.2);

			input {
				outline: none;
				border: none;
				margin: 0;
				background: transparent;
				font-size: 18px;
				text-align: center;
				font-family: "Roboto";
				color: #fff;
				width: 100%;
				height: 100%;
			}
		}

		.normal {
			@extend .centered-content;

			cursor: pointer;
			background-color: #336699;

			&:hover {
				background-color: #009966;
			}
		}

		.confirm {
			@extend .centered-content;

			cursor: pointer;
			border: solid 1px rgba(255, 255, 255, 0.2);
			background-color: #993333;

			&:hover {
				background-color: #663333;
			}
		}

		.knx-switch {
			@extend .normal;

			.value {
				margin-top: 15px;
			}
		}
	}
}

/* Notifications */
.notifier {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	.notification {
		padding: 15px;
		margin: 5px 5px 0px 0px;
		font-size: 14px;
		text-align: right;
		border: solid 1px rgba(255, 255, 255, 0.2);

		&.error {
			background-color: #663333;
		}

		&.info {
			background-color: #222;
		}
	}
}
