@import url(http://fonts.googleapis.com/css?family=Roboto);

/* General */
body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #333;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

/* Menu */
#menu {
	display: flex;
	width: 100%;
	background-color: #222;
	font-size: 1em;
	align-items: flex-start;
	align-content: flex-start;
}

#menu .item {
	display: block;
	padding: 10px;
	text-align: right;
	text-decoration: none;
	color: #fff;
}

#menu .item:hover {
	color: #336699;
	background-color: #2f2f2f;
}

#menu .item.right {
	margin-left: auto;
}

#scroll-area {
	display: flex;
	height: 100%;
	overflow: auto;
	padding: 5px;
}

#container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
}

#container .tile {
	padding: 5px;
	width: 10em;
	height: 10em;
}

#container .tile .box {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-decoration: none;
	width: 100%;
	height: 100%;
	background-color: #336699;
	color: #fff;
	padding: 10px;
}

#container .tile .box:hover {
	background-color: #339966;
}

#container .tile .box .name {
	width: 100%;
	text-align: center;
	font-size: 1em;
}
