@import url(http://fonts.googleapis.com/css?family=Roboto);

/* General */
body {
	padding: 5px;
	margin: 0;
	background: #333;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

/* Containers */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

#major-container {
	flex-direction: column;
	width: 50%;
	height: 100%;
}

#major-container .tile {
	width: 100%;
	height: 50%;
	padding: 5px;
}

#minor-container {
	flex-direction: row;
	width: 50%;
	height: 100%;
}

#minor-container .tile {
	width: 33%;
	height: 25%;
	padding: 5px;
}

/* Tile contents */
.box {
	height: 100%;
	width: 100%;
	background-color: #336699;
	padding: 10px;
	align-items: center;
	align-content: center;
}

.box:hover, .box:active {
	background-color: #339966;
}

.box .contents {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
}
