#temperature-picker {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#temperature-picker .button {
	padding: 15px;
	font-size: 2em;
	width: 2em;
	height: 2em;
}

#temperature-picker .value {
	padding: 30px;
	font-size: 5em;
}
